<ion-header>
  <ion-toolbar>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
        <img *ngIf="product" height="300" width="300" class="imagem" [src]="getImgContent()">
      </ion-row>
      <ion-row>
        <p *ngIf="inCart && inCart?.amount>0">{{this.textMessage()}}</p>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label>Itens</ion-label>
          
          <ion-select  [(ngModel)]="amount">
            <ion-select-option *ngFor="let i of arrayAmount" [value]="i">{{i}}</ion-select-option>
          </ion-select>

          <ion-button *ngIf="amount>=0" (click)="click()">{{this.textButton()}}</ion-button>
          <p *ngIf="amount<0"></p>

        </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
