<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-list>
        <ion-radio-group [(ngModel)]="create">
          <!-- <ion-col> -->

            <ion-item>
              <ion-label>Login</ion-label>
              <ion-radio slot="end" value="0"></ion-radio>
            </ion-item>
        
          <!-- </ion-col> -->
          <!-- <ion-col> -->

            <ion-item>
              <ion-label>Registrar</ion-label>
              <ion-radio slot="end" value="1"></ion-radio>
            </ion-item>
          <!-- </ion-col> -->
      
        </ion-radio-group>
      </ion-list>
    </ion-row>
    <ion-row>
      <p></p>
    </ion-row>
    <ion-row>
      
      <ion-list>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item *ngIf="create==='1'">
          <ion-label position="floating">Nome</ion-label>
          <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

      </ion-list>
    </ion-row>
    <ion-row>
      <ion-button expand="block" (click)="login()">Entrar</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>