<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let product of cartItems">
      <ion-col>
        <app-mini-product-card *ngIf="cartItems" [product]="product" [(amount)]="product.amount" (amountChange)="calcularSoma()" [cart]="cart"></app-mini-product-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-card>
          <ion-item>
            <h2 slot="end">Total: &nbsp; R$ {{total}} &nbsp;</h2>
          </ion-item>
          <ion-item>
            <ion-button slot="end" (click)="endShop()">
              Finalizar compra 
            </ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
