<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Items
    </ion-title>
    <ion-button  routerLink="../cart" color="sucess">
      <ion-icon icon="cart"></ion-icon>
      CART
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let product of products" size="3">
        <app-product-card *ngIf="products" [product]="product"></app-product-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
