<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Items
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <p>header</p>
    <ion-toolbar>
      <p>toolbar</p>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
  <ion-grid>
    <ion-row *ngFor="let product of products">
      <app-product-card *ngIf="products" [product]="product"></app-product-card>
    </ion-row>
  </ion-grid>
</ion-content>
